$bgcolor: lightblue;
$bgcolorContainer: green;
$textColor: black;
$textColorHover: white; 
$fontsize: 18px;
$fontsizeTitle: 24px;
$fontsizeContent: 16px;
$bgcolorLink: navajowhite;
$bgcolorLinkHover: yellow;
$bgborderColorCard: orangered;
$bgbuttonColorSave: blue;
$bgbuttonTextSave: white;
$bgbuttonColorDelete: white;
$bgbuttonTextDelete: blue;