@import "color";
@import "meumixin";

body {
    background-color: $bgcolor;
    color: $textColor;
    font-size: $fontsize;
}

.container {
    background-color: $bgcolorContainer;
    border-radius: 8px;
    padding-left: 5px;
}

.container--title {
    font-size: $fontsizeTitle;
}

.container--content {
    font-size: $fontsizeContent;
}

.listaContainer {
    margin-top: 20px;
    width: 100%;
    border: red solid 1px;
    border-radius: 8px;
}

.listaContainer--livros {
    list-style-type: none

}

.listaContainer--livros--item {
    display: inline;
    background-color: $bgcolorLink;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    margin-left: 10px;
    &:hover{
        background-color: $bgcolorLinkHover;
    }
    a {
        text-decoration: none;
    }
}

.foto {
    @include card;
    margin-top: 10px;
}

.foto2 {
    @include card2;
    margin-left: 10px;
}

.button {
    width: 100px;
    height: 20px;
    border-radius: 8px;
    border: $bgborderColorCard solid 2px;
}

.button--save {
    @extend .button;
    background-color: $bgbuttonColorSave;
    color: $bgbuttonTextSave;
}

.button--delete {
    @extend .button;
    background-color: $bgbuttonColorDelete;
    color: $bgbuttonTextDelete;
}